* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;

  position: relative;
  display: block;
}

.blog-details {
  width: 100%;
  max-width: 50rem;
  height: 170rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .blog-details {
    width: 100%;
    height: 100%;
  }
}

.blog-box1 {
  width: 100%;
  max-width: 53rem;
  height: 30rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e3e4ec;
}

.cluthes-wear {
  line-height: 27px;
}

.cluthes-wear1 {
  width: 24.4rem !important;
}

@media (max-width: 576px) {
  .details-plant {
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
  }
  .cluthes-wear1 {
    width: 44.4rem !important;
  }
}

.lorem-dummy {
  color: #232323;
  font-weight: 700;
  line-height: 10px;
  position: relative;
  left: 0.2rem;
}

.english-read {
  color: #5c727d;
  font-weight: 400;
  position: relative;
  left: 0.2rem;
}

.unordered-list {
  color: #5c727d;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  position: relative;
  left: 0.3rem;
}

.rating {
  position: relative;
  top: 0.2rem;
}

.lorem-green {
  line-height: 1.5rem;
  list-style: none;
}

.lorem-green::before {
  content: "•";
  color: green;
  font-size: 2em;
  margin-right: 0.6rem;
  position: relative;
  top: -0.1rem;
}

.lorem-write {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 767px) and (max-width: 770px) {
  .lorem-write1 {
    width: 100%;
    max-width: 100%;
  }
}

.lorem-write:focus {
  background-color: #e3e4ec;
}

.review-page {
  background-color: #f4f4f8;
  padding: 1rem;
  height: 22rem;
}

.save-para {
  color: #133344;
  font-weight: 400;
}

@media (max-width: 576px) {
  .review-page {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .review-page {
    width: 100%;
    height: 100%;
  }
  .cluthes-wear1 {
    width: 144.4rem !important;
  }
}

@media (min-width: 769px) {
  .review-page {
    width: 100%;
    height: 100%;
  }
}

.control-form {
  border-left: none;
  border-right: none;
  padding: 1rem 1rem;
  background-color: #f4f4f8;
}

.pharmacy {
  position: relative;
  left: 0.5rem;
}

.lorem-space {
  letter-spacing: 1px;
  word-spacing: 2px;
}

.review-detail {
  position: relative;
  right: 52%;
}

@media (max-width: 576px) {
  .review-detail {
    position: relative;
    right: 78%;
  }
}

.btn-data {
  background-color: #ffff;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: black;
}
.btn-data:hover {
  background-color: #087d62;
}

.expert-blog {
  position: relative;
  left: 18%;
}

.clutch-detail {
  position: relative;
  top: 12% !important;
}

.navbar-item1 {
  color: #133344;
  font-weight: 500;
  font-size: 18px;
  line-height: 24.55px;
}

@media (min-width: 767px) and (max-width: 992px) {
  .navbar-item1 {
    margin-top: 70%;
    position: relative;
    left: 1%;
  }
  .container-bread {
    position: relative;
    top: 1.5rem;
  }
  .cluthes-wear1 {
    width: 144.4rem !important;
  }
}

@media (max-width: 576px) {
  .navbar-item1 {
    margin: 0;
  }
  .container-bread {
    position: relative;
    top: 1.6rem;
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .export-blog1 {
    position: relative;
    bottom: 45% !important;
    left: 0% !important;
  }
  .expert-blog {
    position: relative;
    left: 0%;
    bottom: 15% !important;
    font-size: 19px !important;
  }
}

@media (min-width: 576px) and (max-width: 765px) {
  .export-blog1 {
    position: relative;
    bottom: 21% !important;
    left: 5% !important;
  }
  .expert-blog {
    position: relative;
    left: 0%;
    bottom: 5% !important;
    font-size: 19px !important;
  }
}

@media (min-width: 767px) and (max-width: 769px) {
  .count-car {
    margin-top: 40% !important;
  }
}

@media (min-width: 765px) and (max-width: 992px) {
  .export-blog1 {
    position: relative;
    left: 3% !important;
  }
  .expert-blog {
    position: relative;
    left: 1%;
    bottom: 2% !important;
  }
  .clutch-detail {
    position: relative;
    top: 13% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .export-blog1 {
    position: relative;
    left: 5% !important;
  }
  .expert-blog {
    position: relative;
    left: 0% !important;
  }
  .cluthes-wear1 {
    width: 22rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .export-blog1 {
    position: relative;
    left: 5% !important;
  }
  .expert-blog {
    position: relative;
    left: 1% !important;
  }
  .clutch-detail {
    position: relative;
    left: 2% !important;
  }
}

@media (max-width: 576px) {
  .footer-list li {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .footer-list h5 {
    font-size: 17.7px;
  }
}

.footer-list li {
  list-style: none;
}

.bg-comment {
  background-color: #0f5132;
}
