* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

#container-custom {
  width: 100vw;
  height: 180px;
  background-color: #f2f5f7;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.search-box1 {
  width: 32px;
  position: relative;
  bottom: 0.98rem;
  cursor: pointer;
}

.count-value {
  font-family: Verdana, Tahoma, sans-serif;
  position: relative;
  left: 0.6rem;
  top: 0.22rem;
}

.pointer-click {
  cursor: pointer;
}

.editor-ads {
  color: #f76707;
}

.ads-image {
  width: 103px;
  height: 83px;
}

@media (max-width: 769px) {
  .ads-image {
    width: 103px !important;
    height: 63px !important;
  }
}
