* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;

  position: relative;
}

#container-customx {
  width: 100vw;
  height: 180px;
  background-color: #f2f5f7;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 992px) {
  #container-customx {
    height: auto;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
  }
  .container-custom {
    position: relative;
    bottom: 5rem;
  }
}

@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
  }

  .navbar-brand.d-lg-none {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .addcarts {
    margin-top: -1.2rem;
  }
}

.tonic-font {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 0 1rem;
  color: #071c1f;
  font-weight: 595;
  font-size: 30px;
}

.para-class {
  font-size: 1.03rem;
  line-height: 2rem;
  position: relative;
  left: 7rem;
  margin-right: 14rem;
  font-weight: 500;
}

.para-class1 {
  font-size: 1.03rem;
  line-height: 2rem;
  position: relative;
  left: 7.5rem;
  top: -1.2rem;
  margin-right: 14.1rem;
  font-weight: 500;
}

.para-class2 {
  font-size: 1.03rem;
  line-height: 2rem;
  position: relative;
  left: 7.5rem;
  top: -2.3rem;
  margin-right: 14.1rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .para-class,
  .para-class1,
  .para-class2 {
    font-size: 0.95rem;
    position: relative;
    left: 0;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .para-class,
  .para-class1,
  .para-class2 {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 768px) {
  .para-class,
  .para-class1,
  .para-class2 {
    font-size: 0.89rem;
    line-height: 1.4rem;
    position: relative;
    left: 0;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .para-class,
  .para-class1,
  .para-class2 {
    font-size: 0.8rem;
    position: relative;
    left: 0;
    margin-right: 0;
  }
}

.container-width {
  width: 100%;
  max-width: 100%;
  background-color: #ededed;
}

.box1 {
  width: 100%;
  max-width: 23%;
}

@media (max-width: 576px) {
  .box1 {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .box1 {
    width: 100%;
    max-width: 48%;
    margin-left: 0;
  }
  body {
    position: relative;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .box1 {
    width: 100%;
    max-width: 48%;
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .box1 {
    width: 100%;
    max-width: 48%;
    margin-left: 0;
  }
}

.free-delivery {
  position: relative;
  top: 0.5rem;
  left: 8%;
}
.lorem-elit {
  position: relative;
  left: 9%;
  top: -0.5rem;
}

.lorem {
  position: relative;
  top: 1.2rem;
}

.column-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  width: 100%;
  max-width: 62%;
}

@media (max-width: 576px) {
  .column-div1 {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .column-div1 {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .column-div1 {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .column-div1 {
    width: 100%;
    max-width: 100%;
  }
}

.lurch {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #d2d8dc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18.7rem;
}

@media (max-width: 992px) {
  .column-div1 {
    padding: 1rem;
    height: 95%;
    position: relative;
  }
}
@media (max-width: 1200px) {
  .column-div1 {
    padding: 1rem;
    height: 95%;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .column-div1 {
    padding: 1rem;
    height: 95%;
    position: relative;
  }
}

@media (max-width: 768px) {
  .column-div1 {
    padding: 1rem;
    height: 100%;
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .column-div1 {
    padding: 0.5rem;
    height: 100%;
  }
}

.load-rubb1 {
  word-spacing: 2px;
  letter-spacing: 1px;
}

.green {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: green;
}

.about-image {
  width: 59.57px;
  height: 28.49px;
  border-radius: 100%;
  position: relative;
  top: 2rem;
}

.lorem-about {
  letter-spacing: 1px;
}

.about-name {
  width: 100%;
  max-width: 15%;
  border-radius: 100%;
}
