* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: auto;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: inline;
  overflow-x: hidden;
}

.navbar-back {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  background-color: #151f2c;
  position: relative;
  transition: height 0.3s ease;
}

.navbar-back.expanded {
  height: 60rem;
  z-index: 1000;
  opacity: 1;
  position: relative;
  top: 0;
}

.container-backend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hamburger {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamburger-back {
  width: 3rem;
  cursor: pointer;
}

.hamburger1 {
  width: 11rem;
  cursor: pointer;
}

input[type="search"] {
  margin-left: auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

@media (max-width: 992px) {
  .list-unstyled {
    position: absolute;
    top: 0;
  }
  .search-box {
    display: none;
  }
  .sidebar-back {
    height: 60rem;
  }
}

.search-box1 {
  width: 32px;
  position: relative;
  bottom: 0.98rem;
  cursor: pointer;
}
.count-value {
  font-family: Verdana, Tahoma, sans-serif;
  position: relative;
  left: 0.6rem;
  top: 0.22rem;
}

@media (max-width: 768px) {
  .hamburger {
    float: start;
  }
}

.sidebar-container {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 18rem;
  background-color: #3a4859;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: 1s ease;
  transform: translateX(-100%);
  z-index: 1000;
}

.sidebar-container.expanded {
  transform: translateX(0);
}

.sidebar-back {
  height: 140rem;
}

.sidebar-back .list-unstyled {
  padding-left: 0;
  list-style-type: none;
}

.sidebar-back .list-unstyled li {
  cursor: pointer;
  line-height: 2.6rem;
  margin-left: 0.4rem;
}

.text-white {
  color: #fff;
}

@media (min-width: 992px) {
  .sidebar-container {
    display: block;
    transform: translateX(0);
  }

  .navbar-back {
    height: auto;
  }
}

@media (max-width: 992px) {
  .sidebar-container {
    display: none;
  }
  .navbar-back {
    background-color: #3a4859;
  }

  .sidebar-container.expanded {
    display: block;
    box-shadow: none;
    transition: 1s ease;
  }
  .sidebar-back {
    background-color: #3a4859;
    position: absolute;
    left: 0.3rem;
    top: -0.5rem;
    box-shadow: none;
    width: 20rem;
    height: 55rem;
  }
}

.breadcrumb-container {
  margin-left: 26rem;
  margin-top: 3rem;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.breadcrumb-item {
  color: black;
}

.breadcrumb-item a {
  color: #206bc4;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " / ";
  color: #6c757d;
}

@media (max-width: 992px) {
  .breadcrumb-container {
    margin-left: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  .breadcrumb-container {
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 576px) {
  .breadcrumb-container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

@media (max-width: 390px) {
  .hamburger-back {
    margin-left: 4rem;
  }
  .hamburger1 {
    position: relative;
    right: 10%;
  }
}
@media (max-width: 365px) {
  .hamburger-back {
    margin-left: 6rem;
  }
  .hamburger1 {
    position: relative;
    right: 14%;
  }
}

.content-reports {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 59px;
}

.content-reports2 {
  margin-left: 70px;
}
.content-reports3 {
  width: 100%;
  max-width: 100%;
}
.content-reports3 svg {
  width: 100%;
  max-width: 100%;
}
.content-reports4 {
  width: 100%;
  max-width: 70%;
}

.recent-table {
  width: 100%;
  max-width: 69%;
  margin-left: 1.2% !important;
}

.content-reports1 {
  margin-left: 0;
}

.content-customer {
  height: 360px;
}

.content-customer img {
  width: 100%;
  height: 100%;
}

.content-customer Line {
  width: 100%;
  height: 100%;
}

@media (min-width: 765px) and (max-width: 768px) {
  .content-reports1 {
    width: 200%;
    max-width: 110%;
    margin-left: 77px;
  }
  body {
    display: block;
  }
  .content-customer {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .content-reports {
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
  .content-reports2 {
    margin-left: 0px;
    width: 100%;
    max-width: 94%;
  }
  .recent-table {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .content-customer {
    height: 260px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .content-reports {
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
  body {
    display: block;
  }
  .content-reports2 {
    margin-left: 0px;
    width: 100%;
    max-width: 96%;
  }
  .recent-table {
    width: 100%;
    max-width: 96%;
    position: relative;
    left: -10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .content-reports {
    margin-left: 0px;
    width: 100%;
    max-width: 90%;
  }
  .content-customer {
    width: 100%;
    max-width: 53%;
  }
  .content-reports2 {
    margin-left: 10px;
    width: 100%;
    max-width: 96%;
  }
  body {
    display: block;
  }
  .recent-table {
    width: 100%;
    max-width: 98%;
    position: relative;
    left: -8px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .content-reports {
    margin-left: 270px;
    width: 100%;
    max-width: 68%;
  }
  body {
    display: inline;
  }
  .content-reports2 {
    margin-left: 283px;
    width: 100%;
    max-width: 71%;
  }
  .recent-table {
    width: 100%;
    max-width: 72%;
    position: relative;
    left: 11.4%;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .content-reports {
    margin-left: 270px;
    width: 100%;
    max-width: 73%;
  }
  body {
    display: inline;
  }
  .content-reports2 {
    margin-left: 283px;
    width: 100%;
    max-width: 75.5%;
  }
  .recent-table {
    width: 100%;
    max-width: 73%;
    position: relative;
    left: 11.7%;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .content-reports {
    margin-left: 220px;
    width: 100%;
    max-width: 82%;
  }
  body {
    display: inline;
  }
  .content-reports2 {
    margin-left: 233px;
    width: 100%;
    max-width: 84.2%;
  }
}
@media (min-width: 1400px) and (max-width: 1800px) {
  .content-reports {
    margin-left: 153px;
    width: 100%;
    max-width: 92%;
  }
  .content-reports2 {
    margin-left: 144px;
    width: 100%;
    max-width: 99%;
  }
}

.content-customer svg {
  width: 100%;
  max-width: 100%;
}

.chartdata-labels {
  width: 100%;
  max-width: 100%;
}

.sales-font {
  font-family: Verdana, Tahoma, sans-serif;
}

.product-att {
  width: 100%;
  max-width: 97%;
}
.product-att1 {
  width: 100%;
  max-width: 100% !important;
}

.product-att2 {
  width: 100%;
  max-width: 80% !important;
}

@media (max-width: 769px) {
  .product-att2 {
    width: 100%;
    max-width: 96% !important;
  }
  .product-opts1 {
    width: 100%;
    max-width: 96% !important;
  }
}
