* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;

  position: relative;
}

@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
  }

  .navbar-brand.d-lg-none {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-icons1 {
    position: absolute;
    top: 1.1rem;
    right: 5rem;
  }
  .addcarts {
    margin-top: 1.2rem;
  }
}

@media (max-width: 576px) {
  .navbar-icons1 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 18%;
    top: 32%;
  }
}

@media (max-width: 450px) {
  .navbar-icons1 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 13%;
    top: 30%;
  }
  .dropdown-burger {
    position: relative;
    left: 3%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-icons1 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 9%;
    top: 30.9% !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .navbar-icons1 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 13%;
    top: 37%;
  }
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
}

.card-header {
  background-color: #f8f9fa;
  padding: 1.5rem;
}

.form-control {
  padding: 1rem;
}

.btn-success {
  background-color: #0a9a73;
  border: none;
  padding: 0.75rem;
}

.button-account {
  background-color: #0a9a73;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  color: #232323;
}

.account {
  color: #546375;
}

.account1 {
  color: #546375;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .card-body {
    padding: 1.5rem;
  }

  .btn-success {
    padding: 1rem;
  }

  .form-control {
    padding: 0.75rem;
  }

  .account1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .card-body {
    padding: 1rem;
  }

  .btn-success {
    padding: 0.875rem;
  }

  .form-control {
    padding: 0.75rem;
  }

  .account1 {
    font-size: 0.875rem;
  }
}

.navbar-item {
  color: #133344;
  font-weight: 500;
  font-size: 18px;
  line-height: 24.55px;
}

@media (min-width: 767px) and (max-width: 992px) {
  .navbar-item {
    margin-top: 70%;
    position: relative;
    left: 1%;
  }
  .container-bread {
    position: relative;
    top: 1.5rem;
  }
}

@media (max-width: 576px) {
  .navbar-item {
    margin-top: 5%;
    position: relative;
  }
  .container-bread {
    position: relative;
    top: 1.6rem;
    opacity: 1;
  }
}

.container {
  max-width: 100%;
}

h1.checkout {
  font-size: 2rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  font-size: 1rem;
}

@media (max-width: 576px) {
  h1.checkout {
    font-size: 1.5rem;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    font-size: 0.8rem;
  }
}

.address-register {
  width: 100%;
  max-width: 100%;
}

.login-alignment {
  margin-left: -13.2%;
}
@media (max-width: 768px) {
  .login-alignment {
    margin-left: -1.4%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .login-alignment {
    margin-left: -1.4%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .login-alignment {
    margin-left: -16%;
  }
}

@media (min-width: 767px) and (max-width: 769px) {
  .login-alignment1 {
    margin-top: -36.2%;
  }
}

.about-trend1 {
  font-size: 24px;
}
