* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;

  position: relative;
}

.demo-shipping {
  position: relative;
  left: 23.8rem;
}

.contact-page1 {
  background-color: #f2f5f7;
  width: 100%;
  max-width: 66%;
  height: 46rem;
  padding: 1rem;
  box-sizing: border-box;
}

@media (max-width: 575px) {
  .demo-shipping {
    position: relative;
    left: 2%;
  }
  .contact-page1 {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .contact-page1 {
    width: 100%;
    max-width: 100%;
  }
  .demo-shipping {
    position: relative;
    left: 2%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .contact-page1 {
    width: 100%;
    max-width: 100%;
  }
  .demo-shipping {
    position: relative;
    left: 2%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .contact-page1 {
    width: 100%;
    max-width: 100%;
  }
  .demo-shipping {
    position: relative;
    left: 2%;
  }
}

@media (max-width: 768px) {
  .contact-page1 {
    height: 44rem;
  }
}

.contact-page1 p {
  position: relative;
  top: -2.2rem;
  text-align: end;
}

.button-shipping {
  letter-spacing: 1px;
  word-spacing: 2px;
}

.border-place1 {
  width: 100%;
  max-width: 100%;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  background-color: #f2f5f7;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.border-place1-check {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #f2f5f7;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.border-place1-check1 {
  letter-spacing: 1px;
  word-spacing: 2px;
}

.border-place1-check:focus {
  background-color: #f2f5f7;
  color: black;
}

.border-place1:focus {
  background-color: #f2f5f7;
  color: black;
}

@media (max-width: 768px) {
  .global-name {
    flex-direction: column;
    align-items: flex-start;
  }
}

.lorem-border {
  width: 6.5rem;
  height: 7rem;
}

.dollar-price {
  position: relative;
  left: 16rem;
  bottom: 81%;
}

.process {
  width: 23.2rem;
  height: 17rem;
  background-color: #f2f5f7;
  position: relative;
  top: auto;
  left: 3.8rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.increment-plus {
  position: relative;
  left: 80%;
  top: -4rem;
}

.pills {
  font-size: 22px;
}

@media (max-width: 576px) {
  .process {
    position: relative;
    left: 0;
    height: auto !important;
    width: 100%;
    max-width: 100%;
    top: 0rem;
  }

  .lorem-border {
    margin-left: -7%;
  }

  .increment-plus {
    position: relative;
    left: 20%;
    margin-top: 1rem !important;
  }
  .number-item {
    position: absolute;
    left: 13%;
  }
  .dollar-price {
    position: relative;
    left: 16rem;
    bottom: 51%;
  }
}

@media (max-width: 375px) {
  .lorem-border {
    margin-left: -7%;
  }
  .increment-plus {
    position: relative;
    left: 32%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .process {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
  .lorem-border {
    margin-left: 0;
  }
  .number-item {
    position: absolute;
    left: 14.2%;
  }
  .increment-plus {
    position: relative;
    left: 22%;
  }
  .dollar-price {
    position: relative;
    left: 19rem;
    bottom: 41%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .process {
    position: relative;
    left: 0%;
    width: 100%;
    max-width: 100%;
  }
  .lorem-border {
    margin-left: 0%;
  }
  .increment-plus {
    position: relative;
    left: 36%;
  }
  .number-item {
    position: absolute;
    left: 8%;
  }
  .dollar-price {
    position: relative;
    left: 25rem;
    bottom: 71%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .process {
    position: relative;
    left: 0%;
    width: 100%;
    max-width: 100%;
  }
  .lorem-border {
    margin-left: 0;
  }
  .increment-plus {
    position: relative;
    left: 13%;
  }
  .number-item {
    position: absolute;
    left: 8.6%;
  }
  .dollar-price {
    position: relative;
    left: 19rem;
    bottom: 40%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .process {
    position: relative;
    left: 0%;
    width: 100%;
    max-width: 61%;
  }
  .lorem-border {
    margin-left: 0;
  }
  .increment-plus {
    position: relative;
    left: 13%;
  }
  .number-item {
    position: absolute;
    left: 8.2%;
  }
  .dollar-price {
    position: relative;
    left: 19rem;
    bottom: 40%;
  }
}

.border-place2 {
  width: 100%;
  max-width: 87%;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  background-color: #f2f5f7;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.border-place2:focus {
  background-color: #f2f5f7;
}
.number-item {
  margin-left: 4%;
}

.number-item-img {
  width: 6rem;
}

.payment-methods {
  width: 100%;
  max-width: 65.5%;
}
@media (max-width: 576px) {
  .payment-methods {
    width: 100%;
    max-width: 96%;
  }
  .payment-span {
    font-size: 22px;
    position: relative;
    left: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .payment-methods {
    width: 100%;
    max-width: 94%;
  }
  .payment-span {
    font-size: 25px;
    position: relative;
    left: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .payment-methods {
    width: 100%;
    max-width: 98%;
  }
  .payment-span {
    font-size: 25px;
    position: relative;
    left: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .payment-methods {
    width: 100%;
    max-width: 99%;
  }
}

.form-floating label {
  font-size: 14px;
  color: #6c757d;
}

.channel-checkout {
  position: relative;
  z-index: 1;
  background-color: #f2f5f7 !important;
}

.custom-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker {
  z-index: 9999 !important;
}

.remind-follow .react-datepicker-wrapper,
.remind-follow .react-datepicker__input-container input {
  width: 100% !important;
  max-width: 100% !important;
}

.lorem-lyte-checkout {
  margin-left: 0%;
  width: 100%;
  max-width: 100%;
}

.process-checkout {
  width: 21.5rem;
  background-color: #f2f5f7;
  position: relative;
  top: auto;
  left: 3.8rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
@media (max-width: 576px) {
  .process-checkout {
    position: relative;
    left: 0;
    height: auto !important;
    top: 0.7rem;
    width: 21.5rem !important;
  }
  .code-check {
    width: 27.2rem !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .process-checkout {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .process-checkout {
    position: relative;
    left: 0%;
    width: 100%;
    max-width: 100% !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .process-checkout {
    position: relative;
    left: 0%;
    width: 100%;
    max-width: 100% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .process-checkout {
    position: relative;
    left: 0%;
    width: 100%;
    max-width: 34% !important;
  }
}

.remind-height {
  height: 56.7px;
}

.contact-phone1 {
  font-size: 16px;
}
