* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;

  position: relative;
}

@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
  }

  .navbar-brand.d-lg-none {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .hamburger-images {
    display: block;
    width: 30px;
    height: auto;
    position: relative;
    bottom: 0.5rem;
    left: 60%;
  }

  .addcarts {
    margin-top: -1.2rem;
  }
}

@media (max-width: 576px) {
  .hamburger-images {
    display: block;
    width: 30px;
    height: auto;
    position: relative;
    left: 74%;
  }
}

@media (max-width: 450px) {
  .hamburger-images {
    display: block;
    width: 30px;
    height: auto;
    position: relative;
    left: 2.3rem;
    top: -0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hamburger-images {
    display: block;
    width: 30px;
    height: auto;
    position: relative;
    left: 1.6rem;
    top: -0.7rem;
  }
}

@media (max-width: 380px) {
  .hamburger-images {
    display: block;
    width: 30px;
    height: auto;
  }
}

.heading {
  font-size: 20rem;
  line-height: 1.2;
  color: #dde1e4;
}

.opps {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3rem;
}

.sorry-para {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c727d;
  margin-top: 0.1rem;
}

@media (max-width: 576px) {
  .heading {
    font-size: 13rem;
  }

  .opps {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  .sorry-para {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .heading {
    font-size: 12rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .heading {
    font-size: 18rem;
  }

  .opps {
    font-size: 1.75rem;
    line-height: 1.9rem;
  }

  .sorry-para {
    font-size: 1.2rem;
  }
}
