* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
  }

  .navbar-brand.d-lg-none {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .hamburger-image {
    position: relative;
    bottom: 0.9rem;
    right: -2rem;
  }

  .navbar-icons {
    position: absolute;
    top: 1.4rem;
    right: 5rem;
  }

  .addcartsx {
    margin-top: -1.2rem;
  }
}

.addcartsx {
  position: absolute;
  top: 0.6rem;
  font-family: Verdana, Tahoma, sans-serif;
}

@media (max-width: 767px) {
  .container-contact {
    font-size: 1.5rem;
  }

  .container-style {
    margin-top: -12%;
    margin-left: 3%;
  }

  #container-contact1 {
    text-align: center;
    margin-top: 1rem;
    white-space: nowrap;
  }

  .breadcrumb {
    flex-direction: row;
    overflow-x: auto;
  }
}

.form-select {
  height: 2rem;
  padding: 0.25rem 0.6rem;
}

.form-control {
  width: 100%;
  height: 2rem;
}

.btn {
  height: 2rem;
  padding: 0.375rem 0.75rem;
}

@media (max-width: 768px) {
  .form-select {
    width: auto;
  }
  .search {
    width: 100%;
  }
  .btn {
    padding: 0.375rem;
  }
}

@media (max-width: 576px) {
  .form-select {
    width: auto;
  }
  .search {
    width: 100%;
    height: 2.5rem;
  }
  .btn {
    padding: 0.375rem;
    font-size: 0.875rem;
  }
}

.search {
  flex: 1;
}

.button-name {
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .d-flex {
    flex-direction: column;
    /* position: relative; */
    align-items: start;
    /* overflow: hidden; */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .count-badge1 {
    position: relative;
    top: 0.4rem !important;
  }
}

.column-box {
  width: 100%;
  max-width: 100%;
  height: 17rem;
  background-color: #e6e5e9;
}

@media (max-width: 576px) {
  .column-box {
    width: 100%;
    max-width: 100%;
  }
}

.green-border {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  cursor: pointer;
}

.pharmacy2 {
  font-size: 13px;
}

.lyte-footer {
  font-size: 20px;
}

.feature-watch {
  height: 28rem;
}

.shop-icon {
  width: 100%;
  max-width: 24.4%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.feature-watch {
  width: 100%;
  max-width: 24.4%;
}

.shop-icon img {
  width: 100%;
  max-width: 25%;
}

@media (max-width: 576px) {
  .shop-icon {
    width: 100%;
    max-width: 97%;
    margin-right: 3%;
  }

  .feature-watch {
    width: 100%;
    max-width: 48.3%;
    height: 31rem;
  }

  .shop-icon img {
    width: 100%;
    max-width: 15%;
  }
  .price-name {
    font-size: 1.05rem !important;
  }
  .price-row {
    font-size: 1.05rem !important;
  }
}

@media (max-width: 1200px) {
  .shop-icon img {
    width: 100%;
    max-width: 15%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .shop-icon {
    width: 100%;
    max-width: 48%;
  }
  .feature-watch {
    width: 100%;
    max-width: 48%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .shop-icon {
    width: 100%;
    max-width: 48%;
    margin-bottom: 10px;
  }
  .feature-watch {
    width: 100%;
    max-width: 32.6%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .shop-icon {
    width: 100%;
    max-width: 48%;
  }
  .feature-watch {
    width: 100%;
    max-width: 32.6%;
  }
}

.feature-box {
  position: relative;
  width: 100%;
}

.add-to-cart-button-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.feature-box:hover .add-to-cart-button-container {
  opacity: 1;
}

.add-to-cart-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 100rem;
  max-width: 90rem;
}

.add-to-cart-button:hover {
  background-color: #0c55aa;
}

.ad-card {
  position: relative;
  right: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid rgb(170, 149, 149);
}

.ad-card-container {
  max-width: 500px;
  padding: 0 15px;
  margin-top: 10px;
}

.ad-img {
  width: 100%;
  padding: 0px 1px;
  height: 100%;
  display: block;
  margin-top: 10px;
  object-position: center;
}

.ad-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.ad-overlay-top {
  display: flex;
  justify-content: flex-end;
}

.ad-overlay-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ad-button {
  background-color: #ff6f61;
  border: none;
  border-radius: 5px;
  padding: 21px 11px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ad-link {
  color: #fff;
  text-decoration: none;
}

.ad-title {
  margin: 0;
  color: black;
  font-size: 1.5rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .ad-title {
    font-size: 1.3rem;
  }

  .ad-button {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .ad-card {
    left: 0;
    bottom: 5px;
    border: 1px solid rgb(170, 149, 149);
  }
}

.customer-homeimage1 {
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 100%;
}

.customer-homeimage1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-trend {
  font-size: 24px;
}
