* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: inline;
}

.navbar-back {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  background-color: #151f2c;
  position: relative;
  transition: height 0.3s ease;
}

.navbar-back.expanded {
  height: 60rem;
  z-index: 1000;
  opacity: 1;
  position: relative;
  top: 0;
}

.container-backend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hamburger {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamburger-back {
  width: 3rem;
  cursor: pointer;
}

.hamburger1 {
  width: 11rem;
  cursor: pointer;
}

input[type="search"] {
  margin-left: auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

@media (max-width: 992px) {
  .list-unstyled {
    position: absolute;
    top: 0;
  }
  .search-box {
    display: none;
  }
  .sidebar-order1 {
    height: 60rem;
  }
}

.search-box1 {
  width: 32px;
  position: relative;
  bottom: 0.98rem;
  cursor: pointer;
}
.count-value {
  font-family: Verdana, Tahoma, sans-serif;
  position: relative;
  left: 0.6rem;
  top: 0.22rem;
}

@media (max-width: 768px) {
  .hamburger {
    float: start;
  }
}

.sidebar-container {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 18rem;
  background-color: #3a4859;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: 1s ease;
  transform: translateX(-100%);
  z-index: 1000;
}

.sidebar-container.expanded {
  transform: translateX(0);
}

.sidebar-order1 {
  height: 127rem;
}

.sidebar-order1 .list-unstyled {
  padding-left: 0;
  list-style-type: none;
}

.sidebar-order1 .list-unstyled li {
  cursor: pointer;
  line-height: 2.6rem;
  margin-left: 0.4rem;
}

.text-white {
  color: #fff;
}

@media (min-width: 992px) {
  .sidebar-container {
    display: block;
    transform: translateX(0);
  }

  .navbar-back {
    height: auto;
  }
}

@media (max-width: 992px) {
  .sidebar-container {
    display: none;
  }
  .navbar-back {
    background-color: #3a4859;
  }

  .sidebar-container.expanded {
    display: block;
    box-shadow: none;
    transition: 1s ease;
  }
  .sidebar-order1 {
    background-color: #3a4859;
    position: absolute;
    left: 0.3rem;
    top: -0.5rem;
    box-shadow: none;
    width: 20rem;
    height: 55rem;
  }
}

.breadcrumb-container {
  margin-left: 26rem;
  margin-top: 3rem;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.breadcrumb-item {
  color: #6c757d;
}

.breadcrumb-item a {
  color: #206bc4;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " / ";
  color: #6c757d;
}

@media (max-width: 992px) {
  .breadcrumb-container {
    margin-left: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  .breadcrumb-container {
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 576px) {
  .breadcrumb-container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.content-orders {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 74px;
}

.form-order {
  width: 100%;
  max-width: 100%;
}
.form-order1 {
  width: 100%;
  max-width: 100%;
}

.payment-method {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 377px) {
  .content-orders {
    margin-left: 0;
  }
  .form-order1 {
    width: 100%;
    max-width: 78%;
  }
  .form-order {
    width: 100%;
    max-width: 78%;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 378px) and (max-width: 400px) {
  .content-orders {
    margin-left: 0;
  }
  .form-order1 {
    width: 100%;
    max-width: 85%;
  }
  .form-order {
    width: 100%;
    max-width: 85%;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  .content-orders {
    margin-left: 0;
  }
  .form-order1 {
    width: 100%;
    max-width: 100%;
  }
  .form-order {
    width: 100%;
    max-width: 100%;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
  .customer-new {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .content-orders {
    margin-left: 0;
  }
  .form-order1 {
    width: 100%;
    max-width: 100%;
  }
  .form-order {
    width: 100%;
    max-width: 100%;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .content-orders {
    margin-left: 0;
  }
  .form-order1 {
    width: 100%;
    max-width: 100%;
  }
  .form-order {
    width: 100%;
    max-width: 100%;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
  .order-search {
    width: 100%;
    max-width: 100%;
  }
  .customer-new {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .content-orders {
    margin-left: 0px;
  }
  .form-order1 {
    width: 100%;
    max-width: 100%;
  }
  .form-order {
    width: 100%;
    max-width: 100%;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
  .order-search {
    width: 100%;
    max-width: 73%;
    margin-left: 270px;
  }
  .customer-new {
    width: 100%;
    max-width: 73%;
    margin-left: 270px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .content-orders {
    margin-left: 0px;
  }
  .form-order1 {
    width: 100%;
    max-width: 100%;
  }
  .form-order {
    width: 100%;
    max-width: 100%;
  }
  body {
    display: inline;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
  .order-search {
    width: 100%;
    max-width: 52% !important;
    margin-left: 269px;
  }
  .customer-new {
    margin-left: 0;
    width: 100%;
    max-width: 26%;
  }
}
@media (min-width: 1400px) and (max-width: 1800px) {
  .content-orders {
    margin-left: 0px;
  }
  .form-order1 {
    width: 100%;
    max-width: 100%;
  }
  .form-order {
    width: 100%;
    max-width: 100%;
  }
  .payment-method {
    width: 100%;
    max-width: 100%;
  }
  .order-search {
    width: 100%;
    max-width: 60%;
    margin-left: 160px;
  }
}

.product-image {
  width: 100%;
  max-width: 7%;
}

.customer-image {
  width: 100%;
  max-width: 27%;
}

.order-edit img {
  width: 100%;
  max-width: 12%;
}

.customer-profile {
  width: 100%;
  max-width: 17%;
}
